@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
  box-sizing: border-box;
}

.slider-container {
  width: 100vw;
  height: 100vh;
  padding-top: 3%;
  background-color: #7cafc4;
}

.slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10%;
  width: 80%;
  height: 98%;
  margin: 0 auto;
}

.slider {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 5;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1%;
}

.text {
  font-family: 'Comic Neue', cursive;
  display: none;
  font-size: 1.2rem;
}

.slide-first {
  background-image: url(./assets/Meme1.jpg);
}

.slide-second {
  background-image: url(./assets/Meme2.jpg);
}

.slide-third {
  background-image: url(./assets/Meme3.jpg);
}

.slide-fourth {
  background-image: url(./assets/Meme4.jpg);
}

#slide-first:checked ~ .slider > .slide-first,
#slide-second:checked ~ .slider > .slide-second,
#slide-third:checked ~ .slider > .slide-third,
#slide-fourth:checked ~ .slider > .slide-fourth {
  display: unset;
}

#slide-first:checked ~ .under-meme-text > .text-first,
#slide-second:checked ~ .under-meme-text > .text-second,
#slide-third:checked ~ .under-meme-text > .text-third,
#slide-fourth:checked ~ .under-meme-text > .text-fourth {
  display: block;
}

input {
  display: none;
}

.bullets {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-left: 35%;
}

.slider-bullet {
  z-index: 3;
  cursor: pointer;
  display: inline-block;
  background: #5995ed;
  border: 0.1rem solid #5995ed;
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

label:active,
#slide-first:checked ~ .bullets label:nth-of-type(1),
#slide-second:checked ~ .bullets label:nth-of-type(2),
#slide-third:checked ~ .bullets label:nth-of-type(3),
#slide-fourth:checked ~ .bullets label:nth-of-type(4) {
  border: 0.2rem solid #5995ed;
  background: #7cafc4;
}

label:hover {
  background: #fcff4b;
  border: 0.2rem solid #fcff4b !important;
}

@media screen and (max-width: 768px) {
  .slider-wrapper {
    flex-direction: column;
    justify-content: left;
    gap: 3%;
  }

  .slider {
    height: 35%;
    order: 1;
  }

  .bullets {
    order: 2;
    align-self: center;
    width: 15%;
    height: 2%;
    padding-left: 0;
  }

  .under-meme-text {
    order: 3;
  }

  .text {
    font-size: 2rem;
  }
}

